# requires:
#  - group_vars/all
#  - common/tasks/main.yml
---
- name: create application user
  user: >
    name="{{ edxapp_user }}" home="{{ edxapp_app_dir }}"
    createhome=no shell=/bin/false

- name: create edxapp user dirs
  file: >
    path="{{ item }}" state=directory
    owner="{{ edxapp_user }}" group="{{ common_web_group }}"
  with_items:
    - "{{ edxapp_app_dir }}"
    - "{{ edxapp_data_dir }}"
    - "{{ edxapp_venvs_dir }}"
    - "{{ edxapp_theme_dir }}"
    - "{{ edxapp_staticfile_dir }}"

- name: create edxapp log dir
  file: >
    path="{{ edxapp_log_dir }}" state=directory
    owner="{{ common_log_user }}" group="{{ common_log_user }}"

- name: create web-writable edxapp data dirs
  file: >
    path="{{ item }}" state=directory
    owner="{{ common_web_user }}" group="{{ edxapp_user }}"
    mode="0775"
  with_items:
    - "{{ edxapp_course_data_dir }}"
    - "{{ edxapp_upload_dir }}"

# adding chris-lea nodejs repo
- name: add ppas for current versions of nodejs
  apt_repository_1.8: repo="{{ edxapp_chrislea_ppa }}" validate_certs=no

- name: install system packages on which LMS and CMS rely
  apt: pkg={{','.join(edxapp_debian_pkgs)}} state=present update_cache=yes

- name: create log directories for service variants
  file: >
    path={{ edxapp_log_dir }}/{{ item }} state=directory
    owner={{ common_log_user }} group={{ common_log_user }}
    mode=0750
  with_items: service_variants_enabled

# Set up the python sandbox execution environment
- include: python_sandbox_env.yml
  when: EDXAPP_PYTHON_SANDBOX

- include: deploy.yml tags=deploy
